<div class="row">
    <h1>Lista de Categorias</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <td colspan="2">
                <button class="btn btn-primary" (click)="categoryInsert.showInsertModal()">Nova Categoria</button>
            </td>
            <td colspan="3">
                <category-search-form (onSearch)="search($event)"></category-search-form>
            </td>

        </tr>
        <tr>
            <th style="width: 5%" [sortColumn]="sortColumn" columnName="id" (onSort)="sort($event)">ID</th>
            <th style="width: 65%" [sortColumn]="sortColumn" columnName="name" (onSort)="sort($event)">Nome</th>
            <th>Ativa?</th>
            <th [sortColumn]="sortColumn" columnName="created_at" (onSort)="sort($event)">Criado em</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let category of categories | paginate: {itemsPerPage:5, currentPage: pagination.page, totalItems: pagination.totalItems}">
            <td>{{category.id}}</td>
            <td>{{category.name}}</td>
            <td>
                <!--{{category.active ? 'Sim' : 'Não'}}-->
                <i class="fas" [ngClass]="{'fa-check': category.active, 'fa-times': !category.active}"></i>
            </td>
            <td>{{category.created_at | date: 'dd/MM/yyyy'}}</td>
            <td>
                <a href="javascript:void(0)" (click)="categoryEdit.showEditModal(category.id)">
                    <i class="fas fa-edit"></i>
                </a> |
                <a href="javascript:void(0)" (click)="categoryDelete.showDeleteModal(category.id)">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<pagination-controls (pageChange)="pageChanged($event)"
    previousLabel="Anterior"
    nextLabel="Próxima">
</pagination-controls>
<category-new-modal (onSuccess)="categoryInsert.onInsertSuccess($event)" (onError)="categoryInsert.onInsertError($event)">
</category-new-modal>
<category-edit-modal (onSuccess)="categoryEdit.onEditSuccess($event)" (onError)="categoryEdit.onEditError($event)" [categoryId]="categoryID">
</category-edit-modal>
<category-delete-modal (onSuccess)="categoryDelete.onDeleteSuccess($event)" (onError)="categoryDelete.onDeleteError($event)" [categoryId]="categoryID"></category-delete-modal>