<div class="row">
    <h1>Lista de Categorias</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <td colspan="5">
                <button class="btn btn-primary" (click)="showInsertModal()">Nova Categoria</button>
            </td>

        </tr>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Ativa?</th>
            <th>Criado em</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let category of categories">
            <td>{{category.id}}</td>
            <td>{{category.name}}</td>
            <td>
                <!--{{category.active ? 'Sim' : 'Não'}}-->
                <i class="fas" [ngClass]="{'fa-check': category.active, 'fa-times': !category.active}"></i>
            </td>
            <td>{{category.created_at | date: 'dd/MM/yyyy'}}</td>
            <td>
                <a href="javascript:void(0)" (click)="showEditModal(category.id)">
                    <i class="fas fa-edit"></i>
                </a> |
                <a href="javascript:void(0)" (click)="showDeleteModal(category.id)">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<category-new-modal (onSuccess)="onInsertSuccess($event)" (onError)="onInsertError($event)">
</category-new-modal>
<category-edit-modal (onSuccess)="onEditSuccess($event)" (onError)="onEditError($event)" [categoryId]="categoryID">
</category-edit-modal>
<category-delete-modal (onSuccess)="onDeleteSuccess($event)" (onError)="onDeleteError($event)" [categoryId]="categoryID"></category-delete-modal>