<div class="col col-md-4 offset-4" *ngIf="showMessageError" >

    <alert-error [(show)]="showMessageError">Credenciais inválidas!</alert-error>

</div>
<form class="form-signin" (submit)="submit()">
    <h1 class="h3 mb-3 font-weight-normal">Faça seu login</h1>
    <label for="email" class="sr-only">Email</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="Digite seu Email" required autofocus [value]="email" [(ngModel)]="credentials.email">
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Digite sua senha" required [(ngModel)]="credentials.password">
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Lembre me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>

    {{credentials | json}}
</form>